/* Slider Controls */
#leftHandle, #rightHandle {
    background-color: blue;
    color: inherit;
    outline: none;
    z-index: 3 !important; /* do I need this? */
}

/* #leftHandle {
    margin-right: 0.6em;
}

#rightHandle {
    margin-left: 0.6em;
} */

#timeHandle {
    background-color: red;
    color: inherit;
    border-radius: 50%;
    outline: none;
    width: 0.78em;
    height: 0.78em;
    top: -.05em;
}

/* Player Controls */
#playerUI {
    display: none;
    background-color: rgba(94, 217, 191, 0.3);
    color: auto; 
}

body {
    background-image: url('monotreme.jpg');
	background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#startStop, #console {
    margin-top: 20px;
}

#source, #edited {
    display: none;
    width: 90%;
}

#slider {
    width: 830px;
    margin-left: 105px;
}

#canvas {
    width:90%;
    height: 500px;
    background-color: transparent;
}

p, ol, h3 {
    color: white;
}

#consolelog {
    background-color: rgba(94, 217, 191, 0.3);
    height: 100vh;
}