/* general page styling */
html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #096268;
    background-image: url('img/monotreme.jpg');
	background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

#container {
    width: 98%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* define tool appearance */
#canvas {
    height: 50%;
    width: 100%;
    background-color: transparent;
    color: auto;
}

.floatbar {
    background-color: crimson;
    color: auto;
    height: 5%;
    text-align: center;
}

.float {
    display: inline-block;
    vertical-align: middle;
}

#playerUI img, .floatbar img {
    width: 10%;
    max-height: 100%;
}

#playerUI {
    background-color: rgba(94, 217, 191, 0.3);
    color: auto;
    height: 10%;
    width: 100%;
    text-align: center;
}

#keep-discard {
    height: 15%;
    background-color: aqua;
    color: auto;
}

/* Slider */
#slide-wrap {
    background-color: pink;
    color: auto;
    padding: 0 1.25em;
    min-height: 5em;
    max-height: 10%;
}

#slider {
    min-height: 5em;
    max-height: 10%;
    border: 0;
}

#leftHandle, #rightHandle, #timeHandle {
    top: 0.0018em; /* centered within custom slider hieght */
    height: 100%;
    width: 2.5em;
    /* outline: none; */
    border: 0;
    background-position: center;
    background-size: auto;
    cursor: pointer;
}

#leftHandle {
    background: transparent url('img/leftHandle.svg') no-repeat border-box scroll;
}

#rightHandle {
    background: transparent url('img/rightHandle.svg') no-repeat border-box scroll;
}

#timeHandle {
    background: transparent url('img/timeHandle.svg') no-repeat border-box scroll;
}

#consolelog {
    background-color: rgba(94, 217, 191, 0.3);
}

p, ol, h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    background-color: auto;
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
}

/* setup and hide features */
#edited, #slide-wrap, #slider, #playerUI, #editBtn, #storeBtn, #upBtn, #timer {
    visibility: hidden;
}

#stopBtn {
    display: none;
}

#duration {
    background-color: auto;
    color: white;
}

#volume {
    min-width: 70px;
    width: 10%;
}

/* hiding via margin due to a Firefox playback bug:
   if audio element is hidden on not displayed then
   the custom JavaScript control play(); will break */
#source {
    margin-left: -9999px;
}

/* styling the volume thumb for Chrome, Firefox, Edge */
  